<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create Post
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a post</h4>
      </div>
      <div class="modal-body">

	      <form method="POST">
        <div id="warningMessage" class="alert alert-danger hidden">
          <strong>Please fill in all fields</strong>
        </div>
				<div>
					<label for="postTitle">Title:</label>
					<input type="text" name="postTitle" id="postTitle" required>
				</div>
				<div>
					<label for="postDescription">Description:</label>
					<input type="text" name="postDescription" id="postDescription" required>
				</div>
        <div>
          <label for="postClass">Class Number:</label>
          <input type="text" name="postClass" id="postClass" required>
        </div>
			</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="addPost" class="btn btn-primary">Add Post</button>
      </div>
    </div>
  </div>
</div>
<script src="../javascripts/add-posts.js"></script>