<form method="POST">
	<div>
		<label for="postTitle">Title:</label>
		<input type="text" name="postTitle" id="postTitle">
	</div>
	<div>
		<label for="postDescription">Description:</label>
		<input type="text" name="postDescription" id="postDescription">
	</div>
	<div>
		<label for="postSrc">src:</label>
		<input type="text" name="postSrc" id="postSrc">
	</div>
	<input type="submit" id="addPost" value="Add post">
</form>
<script src="../javascripts/posts.js"></script>