{{> nav}}
<div class="container">
<form class="form-horizontal" method="post">
  <fieldset>

  <!-- Form Name -->
  <legend>My Profile -> Account setting</legend>

  <!-- Username-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Change username</label>  
    <div class="col-md-4">
      <input id="newUsername" name="newUsername" type="text"class="form-control input-md">
    </div>
  </div>

    <!-- Phone number -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Add Phone Number</label>  
    <div class="col-md-4">
      <input id="phonenumber" name="phonenumber" type="text"class="form-control input-md">
    </div>
  </div>

    <!-- School name-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Add school name</label>  
    <div class="col-md-4">
      <input id="schoolname" name="schoolname" type="text"class="form-control input-md">
    </div>
  </div>

  </fieldset>

      <button class="btn btn-default" type="submit">Submit</button><a href="/">
</form>
</div>